.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*nav bar*/
nav {
    background-color: blue;/*#333;*/
    color: white;
    position: fixed;
    width: 100%;
    height: 55px;
    left: 0;
    top: 0;
}

nav > #login {
    float: right;
    background-color: blue;
}

#navspacer {
    visibility: hidden;
    padding-top: 50px;
}

#login {
    color: white;
    padding: 5px;
}

#login > div {
    padding: 2px;
    float:left;
}

#login p {
    margin: 0px;

}

#login > div > input {
    float: right;
}

#login > button {
    float: left;
    margin-top: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*end nav bar*/
#login > button:hover {
    background-color: #FFFFFF;
    color: #4CAF50;
}

.navb {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.navb:hover {
    background-color: #FFFFFF;
    color: #4CAF50;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
}

button:hover {
    background-color: #FFFFFF;
    color: #4CAF50;
}

input[type="button"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: #FFFFFF;
    border: 2px solid gray;
    color: #4CAF50;
}

#query-results {
    background-color: lightgray;
    padding: 15px 15px;
}

#vs:focus {
    outline: 0;
}